.foot {
    background-color: ##f4d7fb;
    margin-left: auto;
    display: flex;
    justify-content: center !important;
    align-items: center;
    list-style-type: none !important;
}

.copyright {
    text-align: center;
    font-weight: lighter;
    font-size: 10pt;
    vertical-align: middle;
    margin-left: 15px;
}

.linkList {
    text-align: center;
    list-style-type: none !important;
    list-style: unstyled !important;
    padding-top: 0.1cm;
    font-size: 9pt;
    vertical-align: middle;
}
