@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.first_page {
   background-image: linear-gradient(to bottom right, rgba(117,42,120), rgba(32,129,165)), url("/bg_repeat.png");;
    width: 100vw;
    height: 92vh;
    background-repeat: no-repeat;
    opacity: 1;
}

.main_title {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 50px;
    line-height: 1;
    text-align: left;
    padding-left: 18vw;
    margin-top: 27vh;
    width: 50vw;
    display: inline-flex;
  }

.subtitle {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    padding-left: 18vw;
    margin-top: 4vh;
    width: 40vw;
    display: block;
    font-weight: 1;
  }

.exampleImageContainer {
  display: inline-block;
  position: absolute;
  margin-right: 0;
  padding-left: 5vw;
  margin-top: 24vh;
}

.shadow {-webkit-filter: drop-shadow(8px 8px 10px rgb(63, 0, 71));filter: drop-shadow(8px 8px 10px rgb(63, 0, 71));}

.body_container {
  background-image: url("/bg_repeat.png");
  background-size: 500px 400px;
  background-repeat: repeat-x repeat-y;
  height:inherit;
}

.image_container {
  height: 350px;
  width: 350px;
  overflow: auto;
  display: inline-block;
}

.display_image {
  padding: 10px 10px 10px 10px;
  width: 350px;
  height: 350px;
  object-fit: scale-down;
}

.profile_info {
  position: fixed;
  width: 23%;
  display: flex;
  float: left;
  align-content: center;
  align-items: center;
  padding: 0% 1% 0 3%;
  background-color: #fafafa;
  height: 100%;
}

.photo_display {
  background-color: #ffff;
  width: 77%;
  display: inline-block;
  margin-left: 23%;
  margin-right: 0;
}

.icon {
  width: auto;
  height: 25px;
}

.social_links {
  padding-top: 5vh;
  display: flex;
  justify-content: space-around;
}

.name_display {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  height: 50px;
  font-size: 50px;
}

.loc_display {
  color: gray;
  font-family: 'Ubuntu', sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  height: 25px;
}

.username_display {
  color: gray;
  font-family: 'Ubuntu', sans-serif;
  text-transform: lowercase;
  font-size: 20px;
  height: 15px;
}

.location_display {
  color: gray;
  font-family: 'Ubuntu', sans-serif;
  text-transform: lowercase;
  font-size: 20px;
}

.bio_container {
  padding: 30px 5px;
}

.bio {
  color: rgb(43, 42, 42);
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

.service_name {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  height: 20px;
  font-size: 20px;
}

.service_description {
  color: rgb(43, 42, 42);
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  height: 15px;
}

.service_price {
  color: rgb(37, 1, 94);
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
}